.log-container {
    margin: 0 auto;

    width: 650px;
    max-width: 100%;

    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}

.log-header {
    display: flex;
    align-items: center;

    gap: 8px;
    padding: 4px 8px;

    font-family: system-ui; 
    font-size: 14px;

    cursor: pointer;
    user-select: none;
}
.log-header time {
    flex-shrink: 0;
}
.log-header .message {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.log-header .service {
    margin-left: auto;
    flex-shrink: 0;
}