.trade-table {
    border: 2px solid var(--color-meta);
}
caption {
    caption-side: top;
    text-align: left;
    color: #ffffff;

    border-top: 2px solid var(--color-meta);
    border-left: 2px solid var(--color-meta);
    border-right: 2px solid var(--color-meta);

    padding: 4px 12px;
    
    font-size: 26px;
    font-weight: bold;
}

td, th {
    border: 1px solid var(--color-meta);
}
th {
    color: #ffffff;
    font-weight: bold;
}
td {
    color: #ffffff;

    text-align: left;
    padding: 4px;
}
td.empty {
    color: #000000;
}
td.int {
    text-align: center;
    padding: 0;
}
td.profit.profit-positive {
    color: #02b802;
}
td.profit.profit-negative {
    color: #f01919;
}
td.profit.profit-zero {
    color: #e7c323;
}