.trade-table {
    border: 2px solid var(--color-meta);
}
caption {
    caption-side: top;
    text-align: left;
    color: #ffffff;

    border-top: 2px solid var(--color-meta);
    border-left: 2px solid var(--color-meta);
    border-right: 2px solid var(--color-meta);

    padding: 4px 12px;
    
    font-size: 26px;
    font-weight: bold;
}

th {
    color: #ffffff;
    font-weight: bold;

    border: 1px solid var(--color-meta);
}
td {
    border: 1px solid var(--color-meta);
}
.int {
    text-align: center;
}
.item, .market, .price, .percent {
    text-align: left;
    padding: 4px;
}