:root {
    --font-main: system-ui;
    --font-size: 14px;

    --color-bg: #010d25;
    --color-log-container: #151f33;
    --color-meta: #0f0c22;
    --color-error-bg: #0c1122;
}

body {
    background-color: var(--color-bg);
}
#top-bar {
    background-color: var(--color-log-container);
}
#view-main, #view-table {
    scrollbar-color: var(--color-log-container) transparent;
}
#view-main::-webkit-scrollbar,
#view-table::-webkit-scrollbar {
    width: 12px;
}
#view-main::-webkit-scrollbar-track,
#view-table::-webkit-scrollbar-track {
    background: transparent;
}
#view-main::-webkit-scrollbar-thumb,
#view-table::-webkit-scrollbar-thumb {
    background: var(--color-log-container);
    border-radius: 999px;
}
#log-container, .trade-table, caption {
    background-color: var(--color-log-container);
}